.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .image-section img {
    width: 50%;
    height: auto;
  }
  
  .text-section {
    width: 50%;
    padding-left: 20px;
  }
  
  .text-section h1 {
    margin-bottom: 20px;
  }
  
  .text-section .content {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
  }
  
  .text-section .content p {
    color: #333;
    line-height: 1.6;
  }
  
  .text-section button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .text-section button:hover {
    background-color: #005f73;
  }

  .card-section {
    display: flex; 
    justify-content: space-between; 
    padding: auto;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  .card {
    border: 2px solid black; 
    padding: 20px;
    margin-bottom: 20px; 
    border-radius: 5px;
    flex-basis: calc(33.333% - 40px); 
    box-sizing: border-box; 
    
  }

  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
  }
  
  .image-section, .text-section {
    width: 100%; 
  }
  
  
  